.modal.fade
  -#.modal-dialog
  .modal-content.col-md-12
    .modal-header
      %h1 Mensaje
      .form-group
        - if @message.errors.any?
          #error_explanation
            %h2= "#{pluralize(@message.errors.count, "error")} prohibited this message from being saved:"
            %ul
              - @message.errors.full_messages.each do |message|
                %li= message
    = bootstrap_form_for @message, remote: true do |f|
      .modal-body.col-md-12
        .form-group
          -#.col-md-2
            = f.label :user
            = f.text_field :user
          .col-md-12
            %h4= f.label :recipient, "Destinatario"
            = f.select :recipient_id,  @users, include_blank:@users.count>1,hide_label:true, input_html:{class:"col-md-12 message-recipient-list"}
          .col-md-12
            %h4= f.label :subject, "Asunto"
            = f.text_field :subject,hide_label:true
          .col-md-12
            %h4= f.label :message, "Mensaje"
            = f.text_area :message,hide_label:true
      .modal-footer.col-md-12
        .actions
          -#.col-left
            = link_to 'Volver', home_path , class:"btn btn-info"
          .col-right
            = f.submit "Enviar", class:"btn btn-primary"
