%p#notice= notice

%p
  %b User:
  = @message.user_id
%p
  %b Recipient:
  = @message.recipient_id
%p
  %b Subject:
  = @message.subject
%p
  %b Message:
  = @message.message

= link_to 'Edit', edit_message_path(@message)
\|
= link_to 'Back', messages_path
