.modal.fade
  -#.modal-dialog
  .modal-content.col-md-12
    .modal-header
      %h4=@user.new_record? ? "Nuevo usuario" : @user.login
      - if @user.errors.any?
        #error_explanation
          %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
          %ul
            - @user.errors.full_messages.each do |message|
              %li= message

    = bootstrap_form_for @user, remote: true do |f|
      .modal-body
        .col-md-12
          = f.text_field :login
          = f.text_field :name,label:"Nombre"
          = f.text_field :last_name,label:"Apellidos"
          = f.password_field :password,label:"Contraseña"
          = f.password_field :password_confirmation,label:"Confirmación de contraseña"

        .col-md-12
          -#asset=@user.new_record? || !@user.asset ? @user.build_asset : @user.asset
          =#asset.new_record?
          =f.simple_fields_for :asset, @user.new_record? || @user.asset ? @user.build_asset : @user.asset do |a|
            =a.file_field :data, label:"Foto:"
            -#asset.text_field :description
        .col-md-12
          =image_tag @user.asset.url, class:"col-md-12" if @user.asset
      .modal-footer
        .actions
          .col-md-12
            -#.text-left
              = link_to 'Volver', home_path, class:"btn btn-info"
            .text-right
              = f.submit 'Guardar', class:"btn btn-primary"
