%h3
  Siguiendo:
  =current_user.following.count
  %ul
  -current_user.following.each do |f|
    %li=f.login
%h3
  Seguidores:
  =UserConnection.where(followed_id:current_user).count
  %ul
  -UserConnection.where(followed_id:current_user).each do |f|
    %li=User.find_by_id(f.follower_id).login
