-#.col-md-12
.usr-image-background.col-md-12
  .col-md-4
    =image_tag(current_user.asset.url, class:"img-circle user-info") if current_user.asset
  .col-md-8
    %center.usr-name-container
      .col-md-12.usr-name
        ="#{current_user.name} #{current_user.last_name}"
      .col-md-12.usr-login
        ="@#{current_user.login}"
.usr-follow-resume.col-md-12
  .col-md-4
    %p.usr-data
      TWIX
    %p.usr-counts
      =Post.my_posts(current_user.id).count
  .col-md-4
    %p.usr-data
      FOLLOWING
    %p.usr-counts
      =current_user.following.count
  .col-md-4
    %p.usr-data
      FOLLOWERS
    %p.usr-counts
      =UserConnection.where(followed_id:current_user).count
      -#=current_user.followers.count
