#messages.tab-pane.fade
  -#%h1
    Mensajes
  %h3
    Mensajes
    =link_to image_tag("message/send-message.png", class:"message-send"), new_message_path, remote: true
  %hr
    %ul.nav.nav-tabs
      %li.active
        %a{"data-toggle"=>"tab", href:"#received", "nav-email":"received"}Recibidos
        =#link_to "Recibidos", {"data-toggle"=>"tab", :anchor => "received"}
      %li
        %a{"data-toggle"=>"tab", href:"#send", "nav-email":"send"}Enviados
        =#link_to "Enviados",{"data-toggle"=>"tab", :anchor => "send"}
    .tab-content
      #received.tab-pane.fade.in.active
        %h3 Recibidos
        %table.table
          %thead
            %th
              Destinatario
            %th
              Fecha
            %th
              Asunto
            %th
              Mensaje
          %tbody
            -Message.received(current_user).each do |s|
              %tr
                %td.col-md-1
                  =User.find(s.recipient_id).login
                %td.col-md-2
                  =s.created_at.strftime("%H:%M %d-%m-%Y")
                %td.col-md-2
                  =s.subject
                %td.col-md-6
                  =s.message
                %td.col-md-1
                  =link_to "Contestar", new_message_path(recipient_id:s.user_id), remote: true
      #send.tab-pane.fade
        %h3 Enviados
        %table.table
          %thead
            %th
              Destinatario
            %th
              Fecha
            %th
              Asunto

          %tbody
            -current_user.messages.each do |s|
              %tr
                %td.col-md-1
                  =User.find(s.recipient_id).login
                %td.col-md-2
                  =s.created_at.strftime("%H:%M %d-%m-%Y")
                %td.col-md-2
                  =s.subject
                %td.col-md-6
                  =s.message
