#notifications.tab-pane.fade
  %h3
    Notificaciones
  %hr
  -# %p
  -#   Recibirás notificaciones cuando alguien responde, marca como favorito o retwixtea tus TweX. También puedes recibir notificaciones cuando te envían mensajes directos o tienes nuevos seguidores.

  -if @new_msgs.any?
    %h4 Nuevos mensajes:
    %ul
    -@new_msgs.each do |m|
      %li="#{m.user.login} #{m.text}"

  -if @new_followers.any?
    %h4 Nuevos seguidores:
    %ul
    -@new_followers.each do |m|
      %li="#{m.follower.login}"

  -if @new_posts.any?
    %h4 Nuevas publicaciones:
    %ul
    -@new_posts.each do |m|
      %li=m.user.login

  -if @new_comments.any?
    %h4 Nuevos comentarios:
    %ul
    -@new_comments.each do |m|
      %li=m.follower.login

  -if @new_favourites.any?
    %h4 Favoritos:
    %ul
    -@new_favourites.each do |m|
      %li=m.user.login
