#search.tab-pane.fade
  %h3
    Usuarios
  %hr
    = bootstrap_form_for @search,:url => home_path do |f|
      .col-md-11
        =f.search_field :user, hide_label:true
      .col-md-1
        =f.submit "Buscar"
    - if @users.any?
      %table.table-striped.table-hover.user-list
        %th Login
        %th Nombre
        %th Apellidos
        %th
        - @users.each do |u|
          -#.col-md-12
          %tr
            %td
              =u.login
            %td
              =u.name
            %td
              =u.last_name
            %td
              -unless current_user.following.include?(u)
                .col-md-2
                .col-md-2
                  = button_to "Seguir", following_user_path(u), method: :post, class:"btn btn-primary"
              -else
                .col-md-2
                  .following-status Siguiendo ✔
                .col-md-2
                  = button_to "No Seguir", unfollowing_user_path(u), method: :post, class:"btn btn-danger"
