#usr-favourites-resume.col-md-12
  %h3
    Trends para tí:

  %ul
  -Post.followers(current_user.id).group_by(&:post_id).sort.to_h.each do |num,posts|
    -posts.each do |post|
      %li=post.user.login
      %p.tab
        =post.text
