
#wall.tab-pane.fade.in.active
  #tab-content1.content
  -# %h1
  -#   Inicio
  %h3
    TwiX
  %center
    -#%img{src:"https://blog.codepen.io/wp-content/uploads/2012/06/Button-Fill-Black-Large.png", class:"wall-icon"}
  %hr
  -@posts.each do |p|
    -#%fieldset
      -#%legend
    .col-md-12
      .col-md-1
        -if p.user && p.user.asset
          =image_tag p.user.asset.url, class:"img-rounded post-usr-img"

      .col-md-11
        -if p.user
          .post-login
            %b="#{p.user.login}"
        -#.post-name
          ="#{p.user.name} #{p.user.last_name}"
        .post-date
          ="#{p.created_at.strftime("%H:%M %d-%m-%Y")}"
        -if p.post
          %b
            %i="Retwix #{p.post.user.login}"
          .post-comments.col-md-12
            %p
              =p.text
            -p.assets.each do |a|
              .post-assets-container
                =image_tag a.url, class:"col-md-12 col-xs-12 post-assets"
        -else
          .post-comments.col-md-12
            %p
              =p.text
            -p.assets.each do |a|
              .post-assets-container
                =image_tag a.url, class:"col-md-12 col-xs-12 post-assets"

        -#%hr

        -#ACCIONES
        .col-md-6.text-left
          =link_to "Comentar", comment_post_path(p)
          |
          ="Comentarios #{Post.where(ancestry:p.id).count}"
          |
          ="Retwix #{Post.where(post_id:p.id).count}"
          |
          =link_to "Favorito", user_favorite_post_path(p)

        .col-md-6.text-right
          -if p.user.eql?(current_user)
            = link_to 'Editar', edit_post_path(p), remote: true
            |
            = link_to 'Borrar', p, method: :delete, data: { confirm: '¿Está seguro?' }
          -elsif current_user.posts.where(post_id:p.id).blank?
            -#Verificamos si el twex no lo ha twexteado ya
            = link_to 'Retwex', retwex_post_path(p)

        -#COMENTARIOS
        -if Post.where(ancestry:p.id).any?
          .post-comments.col-md-12
            -Post.where(ancestry:p.id).each do |c|
              %p
                %b="#{c.user.login} (#{c.created_at.strftime("%H:%M %d-%m-%Y")}): "
                ="#{c.text}"
    %hr.col-md-12
