.col-md-offset-2.col-md-8
  .col-md-4
    #usr-info-container
      =render partial: "info_user"
    -#follow-info-container
      =render partial: "follow"
    #favourites-container
      =render partial: "favourites"
    #trends-container
      =render partial: "trends"
  .col-md-8
    -#.content-container
    -if notice
      .notice
        %p#notice= notice
    .tab-content.col-md-12
      =render partial: "wall"
      =render partial: "search"
      =render partial: "notifications"
      =render partial: "messages"
  =link_to image_tag("tuxbymail.png",class:"new-post"), new_post_path, remote: true
