%h1 Listing albums

%table
  %thead
    %tr
      %th Name
      %th Description
      %th
      %th
      %th

  %tbody
    - @albums.each do |album|
      %tr
        %td= album.name
        %td= album.description
        %td= link_to 'Show', album
        %td= link_to 'Edit', edit_album_path(album)
        %td= link_to 'Destroy', album, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Album', new_album_path
