.modal.fade
  -#.modal-dialog
  .modal-content.col-md-12
    .modal-header
      %h1{class:"modal-title"} Publicación
      =#raise @post.inspect
      -if @post.errors.any?
        #error_explanation
          %h2
          = pluralize(post.errors.count, "error")
          prohibited this post from being saved:
          %ul
            - #post.errors.full_messages.each do |message|
            %li= message
    = bootstrap_form_for @post, remote: true do |f|
      .modal-body.col-md-12
        .form-group
        -#.field
        .form-group
          = f.text_area :text, size:140, label:"Texto"
          =# f.file_field :assets, multiple:true
          =f.simple_fields_for :assets, @post.assets.build do |a|
            =a.file_field :data, label:"Adjuntos:"
            -#asset.text_field :description
          = f.hidden_field :ancestry, value: @post.parent.id  if @post.parent

        .modal-footer
          .actions
            -#.col-left
              = link_to 'Volver', home_path , class:"btn btn-info"
            .col-right
              = f.submit "Enviar", class:"btn btn-primary"
