%p#notice= notice
%h1 Posts
%table
  %thead
    %tr
      %th Text
      %th{:colspan => "3"}
  %tbody
    - @posts.each do |post|
      %tr
        %td= post.text
        %td= link_to 'Show', post
        %td= link_to 'Edit', edit_post_path(post)
        %td= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Post', new_post_path
