/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require jquery-ui
 *= require rails_bootstrap_forms
 *= require_tree .
 *= require_self
 *= require bootstrap-modal-bs3patch
 *= require bootstrap-modal
 */
 @import 'bootstrap-sprockets';
 @import 'bootstrap';

 // $icon-font-path: "bootstrap-sass/assets/fonts/bootstrap/";
 // @import "bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
 // @import "bootstrap-sass/assets/stylesheets/bootstrap";

//COLOR TWITER REAL
$color-logo: #00aced;
$color-hover: #4099FF;
$bg-color: #eeeeee;
html{
  background-color: $bg-color;
  font-family: "Helvetica Neue";
  overflow-y: scroll;
}

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

table, td, th{
  font-size:15px !important;
  padding: 10px;
}

legend{
  margin-bottom: 0px;
}

fieldset{
  width:100%;
  padding:15px;
  margin-right: 1px;
  margin-bottom: 15px;
  min-height:50px;
  //background: $bg-color;
  border-radius: 5px;
}

textarea{
  width: 100%;
  height: 100px;
}
// p{
//  //font-size:15px !important;
// }

a:hover {
  color: $color-hover;
  background-color: transparent !important;
}

.tab{
  margin-left:25px;
}

.nav-bar{
  a:hover {
    color: #fff;
    background-color: transparent !important;
  }
}



//LOGIN
#login-title{
  margin-top: %;
  font-size: 80px;
  color: $color-logo !important;
}
#login-form{
  //margin-top: 15%;
  margin-top: -10px;
}
#login-description{
  margin-top:50px;
}

#login-container{
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -100px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffc832+0,9ebbd1+13,98bad6+86,2989d8+100,4099ff+100&1+0,0.48+50,1+100 */
  background: -moz-linear-gradient(-45deg, rgba(255,200,50,1) 0%, rgba(158,187,209,0.86) 13%, rgba(155,186,212,0.48) 50%, rgba(152,186,214,0.85) 86%, rgba(64,153,255,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(255,200,50,1) 0%,rgba(158,187,209,0.86) 13%,rgba(155,186,212,0.48) 50%,rgba(152,186,214,0.85) 86%,rgba(64,153,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(255,200,50,1) 0%,rgba(158,187,209,0.86) 13%,rgba(155,186,212,0.48) 50%,rgba(152,186,214,0.85) 86%,rgba(64,153,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc832', endColorstr='#4099ff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
#app-container{
  background: $bg-color;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -100px;
  ul{
    padding-left: 25px;
  }
}

.user-list{
  width: 95%;
  margin: auto;
  margin-top:60px;
  margin-bottom:30px;
}

 .content-container{
   width: 96%;
   margin: auto;
   background-color: white;
   border-radius: 10px;
   padding:5px 20px;
   //padding-bottom: 50px; Estropea el login
 }


.header{
  //float:none;
  padding:20px;
  height: 100px;
}
.col-left{
 float:left;
}

.col-right{
 float:right;
}



.new-post{
  width:70px;
  position:fixed;
  right: 50px;
  bottom: 50px;
  z-index: 2;
}


//NAVBAR
#navbar-image{
  width: 45px;
  margin-top: -14px;
  float: left;
}
.navbar-container-icons{
  margin-top: 10px;
  margin-bottom: 0px;
  padding:0px 20px !important;
}
.navbar-icon{
  //width:30px;
  height:30px;
}
.navbar-brand {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
  font-size: 45px;
  color: $color-logo !important;
}

.user-info{
  width: 150px;
  height: 150px;
}
.wall-icon{
   width:120px;
   margin-top: -25px !important;
}


.following-status{
  color:green;
}

div.actions {
    margin-bottom: 10px;
    margin-top: 10px;
}

//USER INFO
#follow-info-container{
  margin-top:20px;
}
#usr-info-container{
  .usr-image-background{
    border-radius: 10px 10px 0px 0px;
    background: $color-logo;
    font-size: 20px;
    .usr-name-container{
      margin-top:50px;
      .usr-name{font-size: 20px !important;}
      .usr-login{font-size: 16px !important;}
    }
  }
  .usr-follow-resume{
    border-radius: 0px 0px 10px 10px;
    background:white;
    .usr-data{
      margin-top: 10px;
      font-size: 15px;
      color:grey;
    }
    .usr-counts{
      font-size: 20px;
      color: $color-hover;
    }
  }
}

#usr-favourites-resume{
  margin-top:20px;
  background: white;
  border-radius: 10px;
}


//POSTS

.tab-content{
  background:white;
}


//.usr-post-info{padding-top: 90px;}
//.post-login{float: left;margin-top:50px;}
//.post-name{float: left; font-size:12px;}
.post-usr-img{float: left;width:90px;}
/*.post-date{
  font-size:12px !important;
  float: right;
  margin-top:60px;
}*/
.post-img{
  max-height:150px;
}

//POST - IMÁGENES ADJUNTAS
/*.post-assets-container{
  display:block;
  height:400px;
  line-height:400px;
  overflow:hidden;
  .post-assets{
    position: relative;
    margin: -25% auto;
    width: 100%;
    height:auto;
    vertical-align:middle;
  }
}*/

.post-comments{
  background: white;
  padding: 10px;
  margin: 0px 0px 10px 0px;
  border-radius: 5px;
}


//MESSAGES
.message-send{
  height:40px;
  float: right;
}
.message-recipient-list{
  option{
    font-size: 15px;
  }
  height: 30px;
}
