#login-container
  .col-md-offset-5.col-md-2.col-xs-12
    %center
      =image_tag "login/twitux.png"
    #login-form
      .content-container
        %center
          = form_for @user_session do |f|
            -if @user_session.errors.any?
              .col-md-12.col-xs-12
                -#error_explanation
                -#%h2= pluralize(@user_session.errors.count, "error") prohibited:
                %ul
                  =@user_session.errors.full_messages.each do |msg|
                    %li= msg
            = f.label :login
            %br
            = f.text_field :login
            %br
            %br
            = f.label :password
            %br
            = f.password_field :password
            %br
            %br
            = f.submit "Login"

        -#.content-container.col-md-12
  #login-description.col-md-12.col-xs-12
    .container
      .col-md-offset-4.col-xs-12
        %h4
          %b Uso de gemas y arquitectura de rails:
      .col-md-offset-4.col-md-4.col-xs-12
        .row
          .col-md-6.col-xs-6
            -#.content-container
            %h4 Gemas:
            %ul
              %li Authlogic
              %li Haml, Saas & Boostrap
              %li Paperclip
              %li Ancestry
              %li ...

          .col-md-6.col-xs-6
            -#.content-container
            %h4 Arquitectura:
            %ul
              %li MVC, Rest
              %li Recursividad
              %li Relaciones polimórficas (assets)
              %li ...

#fotter-login
