!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title TwiTux
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    #app-container
      -#.col-md-offset-2.col-md-8
      -#TABS  https://codepen.io/dhs/pen/diasg
      .navbar.navbar-default
        .container.col-md-12
          .navbar-header
            %button.navbar-toggle{"data-toggle".to_sym => "collapse", "data-target".to_sym => ".navigation-collapse"}
              %span.sr-only Toggle Navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            -#=link_to  image_tag("login/twitux.png",id:"navbar-image")+"TwiTux", home_path, class:"navbar-brand app-title"
            =link_to  image_tag("login/twitux.png",id:"navbar-image"), home_path, class:"navbar-brand app-title"
          %div.navbar-collapse.collapse.navigation-collapse
            %ul.nav.navbar-nav
              %li
                =link_to image_tag("navbar/home.png", class:"navbar-icon"), "#wall", {"data-toggle"=>"tab", class:"navbar-container-icons nav", "nav-button":"wall"}
              %li
                =link_to image_tag("navbar/search.png", class:"navbar-icon"), "#search", {"data-toggle"=>"tab", class:"navbar-container-icons","nav-button":"search"}
              %li
                =link_to image_tag("navbar/notifications.png", class:"navbar-icon"), "#notifications", {"data-toggle"=>"tab", class:"navbar-container-icons", "nav-button":"notifications"}
              %li
                =link_to image_tag("navbar/messages.png", class:"navbar-icon"), "#messages", {"data-toggle"=>"tab", class:"navbar-container-icons", "nav-button":"messages"}
            %div.navbar-header.navbar-right
              .navbar-text.text-right.navbar-container-icons
                =link_to current_user.login , edit_user_path(current_user), remote:true
                =link_to image_tag("logout.jpeg",class:"navbar-icon"), logout_path

      = yield
